In [1]:
#install all the required libraries
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [2]:
#let first connect to the web drivers
driver=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data

In [4]:
#opening up a website in automated chrome window
driver.get('https://www.naukri.com/')

In [5]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ") #for job search bar
search_field_designation.send_keys("Data scientist")

In [6]:
#loaction search
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input ") #for job search bar
search_field_location.send_keys("banglore")

In [7]:
#clicking on search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")

In [8]:
search_button.click()

In [9]:
job_titles=[]
company_name=[]
job_location=[]

In [10]:
# let extract all the tags having job titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [11]:
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [12]:
#scrape job_location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="7a3cf021-eb6f-469a-bbe7-6cf1a4f107e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="3275c693-bdca-483a-9ecc-c644d4f426bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="ad88547f-105b-4fd3-ad4b-33042945efe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="673ffa0c-6f31-415d-8066-96d964c63877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="8f457e4b-14e9-4c44-9200-ba39f72e4e3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="28c20d59-412f-42fe-8bfa-9c6a22634b1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="7b3c7d50-11e7-44fb-a824-a26b63ec06c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="b308f0be-69dd-4cae-8f1d-8e78fe74bcb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="6dc38ef9-678e-4960-bf85-7c1aa1ce4602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f77f9732207ef604c3c978984d0bd77", element="12179181-4f8b-4ddb-b694-da5c60b4e6d2")>]

In [13]:
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore']

In [14]:
#scrape company_name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [15]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Flipkart',
 'Flipkart',
 'Fractal Analytics',
 'IBM',
 'Genpact',
 'VISA',
 'IBM',
 'IBM',
 'IBM',
 'IBM']

In [16]:
#creating dataframe
import pandas as pd
job_df=pd.DataFrame({"job_titles":job_titles,"job_location":job_location,"company_name":company_name})
final_job_df=job_df[0:10]
final_job_df

,job_titles,job_location,company_name
0,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart
1,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart
2,Senior Data Scientist,Bangalore/Bengaluru,Fractal Analytics
3,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM
4,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Genpact
5,Data Scientist,Bangalore/Bengaluru,VISA
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
7,Data Scientist: Artificial Intelligence,Bengaluru/Bangalore,IBM
8,Data Scientist: Artificial Intelligence,Bengaluru/Bangalore,IBM
9,Data Scientist: Artificial Intelligence,Bengaluru/Bangalore,IBM

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [17]:
#. get the webpage https://www.naukri.com
#opening up a website in automated chrome window
driver.get('https://www.naukri.com/')

In [18]:
#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field
##finding element for job search bar:data analyst
search_field_designation=driver.find_element_by_class_name("suggestor-input ") #for job search bar
search_field_designation.send_keys("Data Analyst")

In [19]:
#. clicking the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [20]:
# scraping the data for the first 10 jobs results you get
job_titles=[]
job_location=[]
company_name=[]
experience_require=[]

In [21]:
#scraping job-title
# let extract all the tags having job titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [22]:
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [23]:
#scraping job lacation
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [24]:
for i in location_tags:
    location=i.text
    job_location.append(location)

In [25]:
#scraping company_name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [26]:
for i in company_tags:
    company=i.text
    company_name.append(company)

In [27]:
#scraping experiance requied
experiance_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [28]:
for i in experiance_tags:
    experiance=i.text
    experience_require.append( experiance)

In [29]:
print(len(job_titles),len(job_location),len(company_name),len(experience_require))

20 20 20 20

In [30]:
import pandas as pd
#creating datafame
job_df=pd.DataFrame({"job_titles":job_titles,"job_location":job_location,"company_name":company_name,"experience_require":experience_require})

In [31]:
job_list=job_df[0:10]

In [32]:
job_list

,job_titles,job_location,company_name,experience_require
0,Intern - Business Analyst / Data Analyst,Pune,Faurecia,0-1 Yrs
1,Data Analyst/Data Analyst,Pune,Bajaj Finserv,0-3 Yrs
2,Data Analyst- customer facing,Bangalore/Bengaluru,Synamedia,0-3 Yrs
3,Fresher Job - Junior MIS Executive / Data Analyst,Kochi/Cochin,Z H Consultancy Services Private Ltd.,0-1 Yrs
4,Opportunity For Fresher | UK based IT company ...,Chennai,FE fundinfo,0-1 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-4 Yrs
7,Business and Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERDOST ENTERPRISE,0-5 Yrs
8,Senior Business & Data Analyst,Pune,Deutsche Bank,2-5 Yrs
9,Data Analyst/ Financial Analyst,Mumbai (All Areas),Datamatics Global services Ltd.,0-1 Yrs

Q3:You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [33]:
#opening up a website in automated chrome window
driver.get('https://www.naukri.com/')

In [34]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ") #for job search bar
search_field_designation.send_keys("Data scientist")

In [35]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [36]:
#appling loc and salary filters
loc_filter=driver.find_elements_by_xpath('//div[@class="mt-8 chckBoxCont"]//span')

In [37]:
for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [38]:
#salary filter
sal_filter=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span")
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [39]:
#scrape the data for the first 10 jobs results 
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [40]:
#scrape jobs
job_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [41]:
for i in job_tags:
    job=i.text
    job_title.append(job)

In [42]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [43]:
for i in location_tags:
    location=i.text
    job_location.append(location)

In [44]:
#scraping company_name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [45]:
for i in company_tags:
    company=i.text
    company_name.append(company)

In [46]:
#scraping experience_required
exp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [47]:
for i in exp_tags:
    exp=i.text
    experience_required.append(exp)

In [48]:
import pandas as pd
#creatig dataframe
job_df=pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"experience_required":experience_required})

In [49]:
job_list_df=job_df[0:10]

In [50]:
job_list_df

,job_title,job_location,company_name,experience_required
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,Ashkom Media India Private Limited
1,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED
2,Associate Data Scientist,Gurgaon/Gurugram,Optum,Optum
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,AXA Technology Services India Pvt. Ltd
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,Skyleaf Consultants
5,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,Shadow Placements
6,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2Coms
7,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,Creative Hands HR Consultancy
8,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,Nibha Infotech Private Limited
9,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,BlackBuck

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [54]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

#opening up a website in automated chrome window
driver.get('https://www.flipkart.com/')

In [55]:
#logging into flipkart and providing necessary information
#email_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- VJZDxU']")

In [56]:
#email_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- VJZDxU']")

In [57]:
#email_btn.send_keys('')

In [58]:
#password_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- _3mctLh VJZDxU']")

In [59]:
#password_btn.send_keys("*****")

In [60]:
#login_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2HKlqd _3AWRsL']")
#login_btn.click()

In [61]:
#Enter “sunglasses” in the search
search_field_designation=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') 
search_field_designation.send_keys("sunglasses")

In [63]:
#. clicking the search button
search_button=driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [64]:
#scrape brand,product_description and price
product_brand=[]
Product_description=[]
price=[]
off=[]
length=len(product_brand)

In [65]:
 for i in range(0,3):
        brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in brand_tags:
            brand=i.text
            product_brand.append(brand)
        next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [66]:
for i in range(0,3):
        description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for i in description_tags:
            description=i.text
            Product_description.append(description)
len(Product_description)

120

In [67]:
for i in range(0,3):
        price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for i in price_tags:
            product_price=i.text
            price.append( product_price)
        next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [68]:
len(price)

120

In [69]:
#scrape offer
for i in range(0,3):
        off_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for i in off_tags:
            product_off=i.text
            off.append(product_off)
        next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [70]:
len(off)

120

In [71]:
import pandas as pd
sunglasses_df=pd.DataFrame({"product_brand":product_brand,"Product_description":Product_description,"price":price,"offer":off})

In [72]:
new_sunglasses_df=sunglasses_df[0:99]
new_sunglasses_df

,product_brand,Product_description,price,offer
0,Singco India,UV Protection Oval Sunglasses (55),"₹8,333",77% off
1,ROZZETTA CRAFT,"UV Protection Rectangular, Retro Square Sungla...",₹499,78% off
2,Fastrack,Mirrored Aviator Sunglasses (55),₹399,60% off
3,SUNBEE,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹498,35% off
4,Fastrack,"UV Protection, Polarized, Mirrored Retro Squar...",₹195,64% off
...,...,...,...,...
94,New Specs,Mirrored Round Sunglasses (53),₹269,82% off
95,VINCENT CHASE,UV Protection Aviator Sunglasses (62),₹269,82% off
96,Ray-Ban,UV Protection Aviator Sunglasses (57),₹699,65% off
97,VINCENT CHASE,Others Spectacle Sunglasses (56),₹219,74% off
98,AISLIN,UV Protection Retro Square Sunglasses (52),"₹9,799",10% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [134]:
driver.get("https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART")

In [135]:
#scraping data
rating=[]
review_summary=[]
full_review=[]

In [136]:
#scraping rating
for i in range(0,11):
        rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in rating_tags:
            phn_rating=i.text
            rating.append(phn_rating)
        next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [137]:
len(rating)

108

In [138]:
#scraping summary
for i in range(0,11):
        summary_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in summary_tags:
            phn_summary=i.text
            review_summary.append(phn_summary)
        next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [139]:
#scraping full_review
for i in range(0,11):
        review_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in review_tags:
            review=i.text
            full_review.append(review)
        next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [141]:
rating=rating[0:99]
review_summary=review_summary[0:99]
full_review=full_review[0:99]

In [142]:
import pandas as pd
i_phone_df=pd.DataFrame({"rating":rating,"review_summary":review_summary,"full_review":full_review})

In [143]:
i_phone_df

,rating,review_summary,full_review
0,5,Good,Not sure if FLIPKART would dare to keep this r...
1,5,Utterly Disappointed,Phone has flickering issue within 8 days .. Fl...
2,5,Mind-blowing purchase,Awesome product ❤️
3,5,Classy product,Love it n the best part is the camera and perf...
4,5,Brilliant,Nice
...,...,...,...
94,5,Brilliant,Nice
95,5,Mind-blowing purchase,Camera is good\nBattery is good\nPerformance i...
96,5,Super!,AWESOME PHONE ONE OF THE BEST FLAGSHIP PHONE E...
97,5,Simply awesome,"Excellent camera , good performance,average ba..."
98,5,Simply awesome,Upgrade my I phone 11 to I phone12 .\n2-Most p...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

In [207]:
#install all the required libraries
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [208]:
#let first connect to the web drivers
driver=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [209]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [199]:
driver.get("https://www.flipkart.com")

In [200]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') 
search_field_designation.send_keys("sneakers")

In [202]:
#. clicking the search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [203]:
brand=[]
product_description=[]
product_price=[]
offer=[]

In [204]:
#scrape brand
for i in range(0,3):
        brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for i in brand_tags:
            product_brand=i.text
            brand.append( product_brand)
        next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [205]:
#scrape Product_description
for i in range(0,3):
        description_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        for i in description_tags:
            description=i.text
            product_description.append(description)
        next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [206]:
for i in range(0,3):
        offer_tags=driver.find_elements_by_xpath('//div[@class="_3I9_wc"]')
        for i in offer_tags:
            off=i.text
            offer.append(off)
        next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_button.click()
        time.sleep(2)

In [177]:
#scrape  shoe_price
for i in range(0,2):
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price_tags:
        price=i.text
        shoe_price.append(price)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(2)

In [180]:
len(price),len(offer),len(Product_description),len(brand)

(120, 117, 120, 120)

In [183]:
import pandas as pd
shoe_df=pd.DataFrame({"brand":brand,"Product_description":Product_description,"price":price})

In [184]:
shoe_df

,brand,Product_description,price
0,HOC,UV Protection Oval Sunglasses (55),"₹8,333"
1,DUNKASTON,"UV Protection Rectangular, Retro Square Sungla...",₹499
2,URBANBOX,Mirrored Aviator Sunglasses (55),₹399
3,BRUTON,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹498
4,corsac,"UV Protection, Polarized, Mirrored Retro Squar...",₹195
...,...,...,...
115,sneaker hub,"UV Protection, Mirrored Aviator Sunglasses (57)",₹395
116,Hida,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹449
117,HOCKWOOD,"UV Protection, Gradient Cat-eye Sunglasses (61)",₹719
118,ADIDAS ORIGINALS,UV Protection Oval Sunglasses (60),₹995
119,RapidBox,UV Protection Cat-eye Sunglasses (60),₹245

Q7:: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,

In [135]:
#install all the required libraries
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [136]:
#let first connect to the web drivers
driver=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [137]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [138]:

driver.get('https://www.myntra.com/shoes')

In [139]:
#color filter
colour_filter=driver.find_elements_by_xpath('//span[@class="colour-label colour-colorDisplay"]')

In [140]:
colour_filter[0].click()

In [141]:
price_filter=driver.find_elements_by_xpath('//span[@class="price-num"]')

In [142]:
price_filter[1].click()

In [143]:
#scraping data
shoe_brand=[]
short_shoe_description=[]
shoe_price=[]

In [144]:
#scrape shoe brand
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [145]:
for i in range(0,2):
        brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
        for i in brand_tags:
            brand=i.text
            shoe_brand.append(brand)
        next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
        next_button.click()
        time.sleep(2)

In [146]:
#short_shoe_description
for i in range(0,2):
        description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
        for i in description_tags:
            description=i.text
            short_shoe_description.append(description)
        next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
        next_button.click()
        time.sleep(2)

In [148]:
#scrape  shoe_price
for i in range(0,2):
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
    for i in price_tags:
        price=i.text
        shoe_price.append(price)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
    next_button.click()
    time.sleep(2)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a"}
  (Session info: chrome=101.0.4951.64)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E87413+2389011]
	Ordinal0 [0x00E19F61+1941345]
	Ordinal0 [0x00D0C658+837208]
	Ordinal0 [0x00D391DD+1020381]
	Ordinal0 [0x00D3949B+1021083]
	Ordinal0 [0x00D66032+1204274]
	Ordinal0 [0x00D54194+1130900]
	Ordinal0 [0x00D64302+1196802]
	Ordinal0 [0x00D53F66+1130342]
	Ordinal0 [0x00D2E546+976198]
	Ordinal0 [0x00D2F456+980054]
	GetHandleVerifier [0x01039632+1727522]
	GetHandleVerifier [0x010EBA4D+2457661]
	GetHandleVerifier [0x00F1EB81+569713]
	GetHandleVerifier [0x00F1DD76+566118]
	Ordinal0 [0x00E20B2B+1968939]
	Ordinal0 [0x00E25988+1989000]
	Ordinal0 [0x00E25A75+1989237]
	Ordinal0 [0x00E2ECB1+2026673]
	BaseThreadInitThunk [0x77A86739+25]
	RtlGetFullPathName_UEx [0x77DE8FEF+1215]
	RtlGetFullPathName_UEx [0x77DE8FBD+1165]

In [149]:
len(shoe_price),len(short_shoe_description),len(shoe_brand)

(100, 100, 100)

In [151]:
#creating dataframe
import pandas as pd
shoe_dataframe=pd.DataFrame({"shoe_brand":shoe_brand,"short_shoe_description":short_shoe_description,"shoe_price":shoe_price})

In [152]:
shoe_dataframe

              shoe_brand            short_shoe_description          shoe_price
0                   Nike    Men Nanoflex TR Training Shoes   Rs. 7499Rs. 14999
1           UNDER ARMOUR    Unisex KING Pro Football Shoes    Rs. 7199Rs. 8999
2                   ALDO                Men Training Shoes            Rs. 7995
3               Skechers    Unisex Fusion Nitro Basketball  Rs. 10799Rs. 11999
4                   Nike               Women Solid Loafers            Rs. 8999
..                   ...                               ...                 ...
95  Heel & Buckle London  Men Solid Leather Formal Loafers           Rs. 13999
96             J.FONTINI     Unisex Kyrie Basketball Shoes            Rs. 9990
97                  ALDO        Men Leather Formal Oxfords            Rs. 9990
98             Cole Haan       Tennis Hu Pharrell Williams   Rs. 7699Rs. 13999
99               Bugatti                      Men Sneakers            Rs. 7999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9

In [23]:
#install all the required libraries
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [24]:
#let first connect to the web drivers
driver=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [25]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [7]:

driver.get('https://www.amazon.in/')

In [8]:
#Enter “Laptop” in the search field
search_field_designation=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input') 
search_field_designation.send_keys("laptop")

In [9]:
#. clicking the search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [10]:
#set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[14]/span/a')

In [11]:
filter.click()

In [12]:
#i9 filter
#filter2=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[15]/span/a")
#filter2.click()

In [13]:
#scrape title
lap_title=[]
title_tags=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    title=i.text
    lap_title.append(title)

In [14]:
#scrape rating
lap_rating=[]
rating_tags=driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
for i in rating_tags:
    rating=i.text
    lap_rating.append(title)

In [17]:
#scraping price

lap_price=[]
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-symbol"]')
for i in price_tags:
    price=i.text
    lap_price.append(price)

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [44]:
#install all the required libraries
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [45]:
#let first connect to the web drivers
driver=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [46]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [47]:
driver.get("https://www.ambitionbox.com/")

In [48]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
search_button.click()

In [50]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input') 
search_field_designation.send_keys("Data Scientist")

In [51]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [52]:
#click on location
location_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location_button.click()

In [53]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input') 
search_field_designation.send_keys("noida")

In [55]:
l=driver.find_elements_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')

In [56]:
for i in l:
    if(i.text == "Noida"):
        i.click()     
        break

In [62]:
#scrape company name
company_name=[]
company_tags=driver.find_elements_by_xpath('//p[@class="company body-medium"]')

In [63]:
for i in company_tags:
    company=i.text
    company_name.append(company)

In [64]:
#scrape company rating
company_rating=[]
rating_tags=driver.find_elements_by_xpath('//span[@class="body-small"]')

In [65]:
for i in rating_tags:
    rating=i.text
    company_rating.append(rating)

In [66]:
#scrape job posted
job_posted=[]
posted_tags=driver.find_elements_by_xpath('//span[1][@class="body-small-l"]')

In [67]:
for i in posted_tags:
    posted=i.text
    job_posted.append(posted)

In [68]:
#creating dataframe
import pandas as pd
company_df=pd.DataFrame({"company_name":company_name,"company_rating":company_rating,"job_posted":job_posted})

In [69]:
company_df

                                       company_name company_rating job_posted
0          Ericsson India Global Services Pvt. Ltd.            4.3     2d ago
1                  EXL Services.com ( I ) Pvt. Ltd.            3.9    12d ago
2                     GENPACT India Private Limited            4.0    24d ago
3  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED            3.9    10d ago
4                     GENPACT India Private Limited            4.0   1mon ago
5                         Bristlecone India Limited            3.8    19d ago
6                                             Zyoin            4.1    23d ago
7                 Newgen Software Technologies Ltd.            3.6    25d ago
8                Ashkom Media India Private Limited            3.7    10d ago
9                        Pitney Bowes India Pvt Ltd            4.2   1mon ago

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [71]:
driver.get("https://www.ambitionbox.com/")

In [72]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
search_button.click()

In [73]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input') 
search_field_designation.send_keys("Data Scientist")

In [74]:
search_button=driver.find_element_by_xpath('//div[@class="suggestion_wrap tt-suggestion tt-selectable"]//p')
search_button.click()

In [75]:
#scrape data
company_name=[] 
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [76]:
#scrape company name
company_tags=driver.find_elements_by_xpath('//div[@class="name"]//a')

In [77]:
for i in company_tags:
    company=i.text
    company_name.append(company)

In [78]:
#scrape total_salary_record
total_salary_tags=driver.find_elements_by_xpath('//div[@class="name"]//span')
for i in total_salary_tags:
    total_salary=i.text
    total_salary_record.append(total_salary)

In [79]:
#scrape average_salary
average_tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in average_tags:
    average=i.text
    average_salary.append(average)

In [80]:
#scarpe minimum_salary
minimum_tags=driver.find_elements_by_xpath('//div[1][@class="value body-medium"]')
for i in  minimum_tags:
    minimum=i.text
    minimum_salary.append(minimum)

In [81]:
#maximum_salary
maximum_tags=driver.find_elements_by_xpath('//div[2][@class="value body-medium"]')
for i in  maximum_tags:
    maximum=i.text
    maximum_salary.append(maximum)

In [82]:
len(company_name),len(total_salary_record),len(minimum_salary),len(maximum_salary)

(10, 10, 10, 10)

In [86]:
import pandas as pd
#creating dataframe
company_df=pd.DataFrame({"company_name":company_name,"total_salary_record":total_salary_record,"minimum_salary":minimum_salary,"average_salary":average_salary,"maximum_salary":maximum_salary})

In [87]:
company_df

,company_name,total_salary_record,minimum_salary,average_salary,maximum_salary
0,Walmart,based on 11 salaries,₹ 25.0L,₹ 29.7L,₹ 35.0L
1,Ab Inbev,based on 32 salaries,₹ 15.0L,₹ 20.5L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,₹ 5.6L,₹ 18.9L,₹ 26.2L
3,ZS,based on 15 salaries,₹ 11.0L,₹ 16.7L,₹ 22.0L
4,Optum,based on 30 salaries,₹ 11.0L,₹ 15.9L,₹ 22.6L
5,Fractal Analytics,based on 82 salaries,₹ 9.7L,₹ 15.4L,₹ 23.0L
6,Tiger Analytics,based on 47 salaries,₹ 9.0L,₹ 14.8L,₹ 20.0L
7,UnitedHealth,based on 55 salaries,₹ 8.3L,₹ 13.9L,₹ 20.5L
8,Verizon,based on 14 salaries,₹ 10.0L,₹ 12.7L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,₹ 8.5L,₹ 12.4L,₹ 15.0L